.signInModal {
  max-width: 570px;
  width: 100%;
  position: absolute;
  top: 280px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  z-index: 999;
  border-radius: 3px;
  box-shadow: 3px 2px 8px #888;
  outline: none;
  overflow: hidden;
}

@media (max-width: 575px) {
  .signInModal {
    max-width: 100%;
    width: 100%;
    position: absolute;
    top: unset;
    left: unset;
    transform: unset;
    height: 100%;
  }
}
