.btn--inverted,
.btn--inverted-transparent {
  background-color: #fff;
  border: 1px solid #e96125;
  color: #e96125;
  padding: 12px 11px;
}

.btn--inverted-transparent:disabled,
.btn--inverted:disabled {
  background-color: #fff !important;
  border: 1px solid #ccc;
  color: #ccc;
}

@media screen and (min-width: 1020px) and (max-width: 1260px) {
  .btn--inverted-transparent:hover,
  .btn--inverted:hover {
    background: #e96125;
    color: #fff;
  }

  .btn--inverted-transparent:hover:disabled,
  .btn--inverted:hover:disabled {
    background: initial;
    color: #ccc;
  }
}

@media screen and (min-width: 1260px) {
  .btn--inverted-transparent:hover,
  .btn--inverted:hover {
    background: #e96125;
    color: #fff;
  }

  .btn--inverted-transparent:hover:disabled,
  .btn--inverted:hover:disabled {
    background: initial;
    color: #ccc;
  }
}

.btn--inverted-transparent {
  background-color: transparent;
}

.btn--inverted-gray {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #888;
  padding: 12px 11px;
}

.btn--inverted-gray:disabled {
  background-color: #fff !important;
  border: 1px solid #ccc;
  color: #ccc;
}
.new-delivery-address-wrapper {
  margin-right: 36px;
}

.new-delivery-address {
  margin: 32px auto 0;
}

.new-delivery-address .input {
  margin-top: 4px;
}

.new-delivery-address .input--validation-error {
  border: 1px solid #f34343;
}

.new-delivery-address .input[type="text"],
.new-delivery-address select {
  width: calc(100% - 24px);
}

.new-delivery-address select.input {
  cursor: auto;
}

.new-delivery-address .validation-error {
  color: #f34343;
  margin-top: 4px;
}

.new-delivery-address__form-sub {
  margin: 24px -36px 0;
  padding: 0 36px 32px;
  border-radius: 0 0 4px 4px;
}
.new-delivery-address__form-row {
  margin-top: 16px;
  position: relative;
}

.new-delivery-address__form-row .tooltip-icon {
  position: absolute;
  right: 14px;
  top: 30px;
}

.display--table {
  display: table !important;
}

.display--table-cell {
  display: table-cell !important;
}

.display--none {
  display: none !important;
}

.display--block {
  display: block !important;
}

.full-width {
  width: 100%;
}

.new-delivery-address__label {
  font-size: 12px;
}

.new-delivery-address__name {
  border-radius: 0 3px 3px 0;
  /* border-left: 0; */
}

.vertical-align--bottom {
  vertical-align: bottom !important;
}
.btn.delivery_change-btn {
  color: #70a13e;
  background-color: #fff;
  border: 1px solid #70a13e;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  right: 26px;
  top: 32px;
}
.btn.delivery_change-btn:hover {
  color: #fff;
  background-color: #70a13e;
}
.input,
.textarea {
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 3px;
  color: #333;
  cursor: text;
  font-size: 14px;
  outline: 0;
  padding: 12px 10px;
}
.btn--gray,
.btn:disabled {
  background-color: #ccc;
}
.btn:disabled {
  cursor: default;
}
.new-delivery-address__btn {
  margin-left: 16px;
  margin-top: 24px;
  width: 120px;
}
.new-delivery-address__btn {
  margin-left: 0;
  margin-top: 24px;
  width: 120px;
}

@media screen and (min-width: 1260px) {
  .btn--inverted-gray:hover {
    background-color: initial;
    border: 1px solid #aaa;
    color: #666;
  }
  .new-delivery-address {
    width: auto;
    margin: 32px 0 0;
  }
  .display--block\@desktop {
    display: block !important;
  }
  .display--none\@desktop {
    display: none !important;
  }
  .btn:disabled.btn--gray:hover,
  .btn:disabled.btn:hover:disabled {
    background-color: #ccc !important;
  }
}

@media screen and (min-width: 1020px) and (max-width: 1260px) {
  .btn--inverted-gray:hover {
    background-color: initial;
    border: 1px solid #aaa;
    color: #666;
  }
  .new-delivery-address {
    width: auto;
    margin: 32px 0 0;
  }
  .display--block\@tablet {
    display: block !important;
  }
  .display--none\@tablet {
    display: none !important;
  }
}

@media screen and (max-width: 1020px) {
  .display--block\@mobile {
    display: block !important;
  }
  .display--none\@mobile {
    display: none !important;
  }
}
