/* Full Product Description Modal*/
.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgba(0, 0, 0, 0.8);
}

.product {
  background-color: #eee;
  padding: 2rem;
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 100;
  transform: translate(-50%, -50%);
  border-radius: 0.5rem;
  box-shadow: 3px 2px 8px #888;
  width: 50%;
  /* Could be more or less, depending on screen size */
  height: auto;
}

.product__detail {
  float: left;
  width: 45%;
}

.animate__animated.animate__fadeIn {
  --animate-duration: 0.5s;
}

.product__description {
  height: 100%;
  margin-top: 8%;
}

.product__description h3 {
  font-size: 2.2rem;
  font-weight: 500;
  padding-bottom: 1rem;
}

.product__description h4 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #555;
  padding-bottom: 0.5rem;
}

.product__cart {
  float: right;
  width: 50%;
  height: 100%;
  margin: 0 auto;
}

.product__cart h3 {
  font-size: 2.8rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.product__cart h4 {
  font-size: 2rem;
  font-weight: 500;
}

.product__cart h4 span {
  font-size: 2.4rem;
  font-weight: 500;
}

.product__cart p {
  font-size: 1.2rem;
  color: #555;
  font-weight: 500;
}

.product__cart h5 {
  margin-top: 1.5rem;
  font-size: 1.6rem;
  font-weight: 500;
}

.product__cart h6 {
  font-size: 1.8rem;
  font-weight: 500;
  color: #6a983c;
  border: 1px solid #6a983c;
  max-width: 30%;
  width: 100%;
  padding: 0.3rem;
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.productbtn {
  width: 65%;
  padding: 1.5rem;
  text-align: center;
}

.individual {
  padding: 1.2rem 1.7rem;
}
.product__description {
  height: 100%;
  margin-top: 8%;
}
.cartBtn {
  margin-top: 0;
  font-size: 1.8rem;
  font-weight: 400;
  color: #6a983c;
  padding: 1rem 1.5rem;
  border-radius: 2.5rem;
  border: 1px solid #6a983c;
  transition: 0.3s all;
  cursor: pointer;
  vertical-align: middle;
}
.cartbtn:hover {
  background-color: #6a983c;
  color: white;
}
.btnpurchasing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 11.5rem;
  width: 100%;
}
.purchase-secondary {
  max-width: 20.5rem;
}

.purchase-secondary p.secondary-counter {
  font-size: 2.8rem;
}

@media (max-width: 981px) {
  .product {
    width: 70%;
  }
  .product__cart h3 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  .product__cart h4 {
    font-size: 1.6rem;
  }
  .product__cart h4 span {
    font-size: 2rem;
  }
  .product__description h3 {
    font-size: 2rem;
    padding-bottom: 0.6rem;
  }
  .product__description h4 {
    font-size: 1.6rem;
  }
}

@media (max-width: 768px) {
  .product__detail {
    float: none;
    width: 100%;
  }
  .product {
    width: 100%;
    height: 100%;
    border-radius: unset;
  }
  .product__cart {
    float: none;
    width: 100%;
    height: auto;
  }
  .product__description {
    margin-top: 4%;
  }
  .product__cart h3 {
    padding-top: 1rem;
    font-size: 2.4rem;
  }
  .product__cart h6 {
    margin-bottom: 2rem;
  }
}

@media (max-width: 490px) {
  .productbtn {
    float: right;
  }
  .product__cart h6 {
    float: left;
  }
}

@media (max-width: 380px) {
  .product {
    padding: 1rem;
  }
}
